body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 15px;
}

.scoreboard-container{
    display: flex;
    gap: 10px;
    margin: 10px;
    align-content: center;
}

.card {
    width: 95%;
    height: 85px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 95%;
    max-height: 95%;
    object-fit: cover;
}

.hidden {
    display: none;
}
